body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:720px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:720px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:fixed;
  left:50%;
  margin-left:-480px;
  top:0px;
  width:960px;
  height:50px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:-532px;
  top:0px;
  width:1200px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:20px;
  top:12px;
  width:57px;
  height:25px;
  font-family:'Overpass Bold', 'Overpass';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u6 {
  position:absolute;
  left:15px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:540px;
  top:0px;
  width:39px;
  height:55px;
  font-family:'Overpass Regular', 'Overpass';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#595959;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:55px;
}
#u8_img.selected {
}
#u8.selected {
}
#u8_img.mouseOver {
}
#u8.mouseOver {
}
#u9 {
  position:absolute;
  left:2px;
  top:18px;
  width:35px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:638px;
  top:0px;
  width:45px;
  height:55px;
  font-family:'Overpass Regular', 'Overpass';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#595959;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:55px;
}
#u10_img.selected {
}
#u10.selected {
}
#u10_img.mouseOver {
}
#u10.mouseOver {
}
#u11 {
  position:absolute;
  left:2px;
  top:18px;
  width:41px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:882px;
  top:0px;
  width:59px;
  height:55px;
  font-family:'Overpass Regular', 'Overpass';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#595959;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:55px;
}
#u12_img.selected {
}
#u12.selected {
}
#u12_img.mouseOver {
}
#u12.mouseOver {
}
#u13 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:742px;
  top:0px;
  width:81px;
  height:55px;
  font-family:'Overpass Regular', 'Overpass';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#595959;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:55px;
}
#u14_img.selected {
}
#u14.selected {
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u15 {
  position:absolute;
  left:2px;
  top:18px;
  width:77px;
  white-space:nowrap;
}
#u2_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:20px;
  top:12px;
  width:136px;
  height:25px;
  font-family:'Overpass Bold', 'Overpass';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u17 {
  position:absolute;
  left:15px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:45px;
  width:1200px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:1183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1200px;
  height:1px;
}
#u20 {
  position:absolute;
  left:540px;
  top:0px;
  width:39px;
  height:55px;
  font-family:'Overpass Regular', 'Overpass';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#595959;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:55px;
}
#u20_img.selected {
}
#u20.selected {
}
#u20_img.mouseOver {
}
#u20.mouseOver {
}
#u21 {
  position:absolute;
  left:2px;
  top:18px;
  width:35px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:638px;
  top:0px;
  width:45px;
  height:55px;
  font-family:'Overpass Regular', 'Overpass';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#595959;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:55px;
}
#u22_img.selected {
}
#u22.selected {
}
#u22_img.mouseOver {
}
#u22.mouseOver {
}
#u23 {
  position:absolute;
  left:2px;
  top:18px;
  width:41px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:882px;
  top:0px;
  width:59px;
  height:55px;
  font-family:'Overpass Regular', 'Overpass';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#595959;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:55px;
}
#u24_img.selected {
}
#u24.selected {
}
#u24_img.mouseOver {
}
#u24.mouseOver {
}
#u25 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:742px;
  top:0px;
  width:81px;
  height:55px;
  font-family:'Overpass Regular', 'Overpass';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#595959;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:55px;
}
#u26_img.selected {
}
#u26.selected {
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:2px;
  top:18px;
  width:77px;
  white-space:nowrap;
}
#u28 {
  position:fixed;
  left:50%;
  margin-left:-480px;
  top:50px;
  width:960px;
  height:1px;
  overflow:hidden;
}
#u28_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 0.2980392);
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:540px;
  top:-50px;
  width:200px;
  height:100px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u30 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:1px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.04705882);
  background-image:none;
}
#u28_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:510px;
  top:-20px;
  width:200px;
  height:100px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u32 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:224px;
  top:325px;
  width:633px;
  height:66px;
  font-family:'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:66px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:272px;
  top:433px;
  width:157px;
  height:44px;
  font-family:'Open Sans Extrabold', 'Open Sans';
  font-weight:800;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:54px;
}
#u35_img.mouseOver {
}
#u35.mouseOver {
  opacity:0.5;
}
#u36 {
  position:absolute;
  left:2px;
  top:14px;
  width:153px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:358px;
  top:214px;
  width:365px;
  height:111px;
  font-family:'Overpass Bold', 'Overpass';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:111px;
}
#u37_img.mouseOver {
}
#u37.mouseOver {
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
  text-shadow:3px 3px 0px rgba(102, 102, 102, 0.6470588);
  -webkit-text-shadow:3px 3px 0px rgba(102, 102, 102, 0.6470588);
  -moz-text-shadow:3px 3px 0px rgba(102, 102, 102, 0.6470588);
}
#u39 {
  position:absolute;
  left:462px;
  top:433px;
  width:157px;
  height:44px;
  font-family:'Open Sans Extrabold', 'Open Sans';
  font-weight:800;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:54px;
}
#u39_img.mouseOver {
}
#u39.mouseOver {
  opacity:0.5;
}
#u40 {
  position:absolute;
  left:2px;
  top:14px;
  width:153px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:650px;
  top:433px;
  width:157px;
  height:44px;
  font-family:'Open Sans Extrabold', 'Open Sans';
  font-weight:800;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:54px;
}
#u41_img.mouseOver {
}
#u41.mouseOver {
  opacity:0.5;
}
#u42 {
  position:absolute;
  left:2px;
  top:14px;
  width:153px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u0_state0.a {
  width:320px;
  height:548px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
}
#u1.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:51px;
}
#u2.a {
  position:fixed;
  left:50%;
  margin-left:-480px;
  top:0px;
  width:960px;
  height:50px;
  overflow:hidden;
}
#u3.a {
}
#u5.a {
}
#u7.a {
  position:absolute;
  left:540px;
  top:0px;
  width:401px;
  height:55px;
}
#u8.a {
}
#u10.a {
}
#u12.a {
}
#u14.a {
}
#u16.a {
}
#u18.a {
}
#u18_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end.a {
  position:absolute;
  left:1183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:1200px;
  height:1px;
}
#u19.a {
  position:absolute;
  left:540px;
  top:0px;
  width:401px;
  height:55px;
}
#u20.a {
}
#u22.a {
}
#u24.a {
}
#u26.a {
}
#u2_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u2_state1.a {
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u28.a {
  position:fixed;
  left:50%;
  margin-left:-480px;
  top:50px;
  width:960px;
  height:1px;
  overflow:hidden;
}
#u29.a {
}
#u31.a {
}
#u28_state0.a {
  background-color:rgba(255, 255, 255, 0.2980392);
  background-image:none;
}
#u28_state1.a {
  background-color:rgba(0, 0, 0, 0.04705882);
  background-image:none;
}
#u33.a {
  left:65px;
  top:160px;
  width:192px;
  height:112px;
}
#u33_img.a {
  width:192px;
  height:112px;
}
#u34.a {
  width:192px;
}
#u35.a {
  left:74px;
  top:321px;
}
#u35_img.a {
}
#u35_img.a.mouseOver {
  opacity:0.5;
}
#u36.a {
}
#u37.a {
  left:40px;
  top:60px;
  width:241px;
  height:74px;
}
#u37_img.a {
  width:241px;
  height:74px;
}
#u37_img.a.mouseOver {
}
#u38.a {
  width:241px;
}
#u39.a {
  left:74px;
  top:386px;
}
#u39_img.a {
}
#u39_img.a.mouseOver {
  opacity:0.5;
}
#u40.a {
}
#u41.a {
  left:74px;
  top:451px;
}
#u41_img.a {
}
#u41_img.a.mouseOver {
  opacity:0.5;
}
#u42.a {
}
