body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.base {
  position:absolute;
  z-index:0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:720px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:720px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:560px;
  top:280px;
  width:420px;
  height:200px;
  font-family:'Overpass ExtraLight', 'Overpass';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:200px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:432px;
  top:118px;
  width:216px;
  height:92px;
  font-family:'Overpass Bold', 'Overpass';
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:92px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
  text-shadow:3px 3px 0px rgba(102, 102, 102, 0.6470588);
  -webkit-text-shadow:3px 3px 0px rgba(102, 102, 102, 0.6470588);
  -moz-text-shadow:3px 3px 0px rgba(102, 102, 102, 0.6470588);
}
#u5 {
  position:absolute;
  left:100px;
  top:280px;
  width:400px;
  height:263px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:263px;
}
#u6 {
  position:absolute;
  left:2px;
  top:124px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:fixed;
  left:50%;
  margin-left:-480px;
  top:0px;
  width:960px;
  height:50px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:-532px;
  top:0px;
  width:1200px;
  height:50px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u10 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:20px;
  top:12px;
  width:57px;
  height:25px;
  font-family:'Overpass Bold', 'Overpass';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:15px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:540px;
  top:0px;
  width:39px;
  height:55px;
  font-family:'Overpass Regular', 'Overpass';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#595959;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:55px;
}
#u14_img.selected {
}
#u14.selected {
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u15 {
  position:absolute;
  left:2px;
  top:18px;
  width:35px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:638px;
  top:0px;
  width:45px;
  height:55px;
  font-family:'Overpass Regular', 'Overpass';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#595959;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:55px;
}
#u16_img.selected {
}
#u16.selected {
}
#u16_img.mouseOver {
}
#u16.mouseOver {
}
#u17 {
  position:absolute;
  left:2px;
  top:18px;
  width:41px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:882px;
  top:0px;
  width:59px;
  height:55px;
  font-family:'Overpass Regular', 'Overpass';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#595959;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:55px;
}
#u18_img.selected {
}
#u18.selected {
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u19 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:742px;
  top:0px;
  width:81px;
  height:55px;
  font-family:'Overpass Regular', 'Overpass';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#595959;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:55px;
}
#u20_img.selected {
}
#u20.selected {
}
#u20_img.mouseOver {
}
#u20.mouseOver {
}
#u21 {
  position:absolute;
  left:2px;
  top:18px;
  width:77px;
  white-space:nowrap;
}
#u8_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u8_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:20px;
  top:12px;
  width:136px;
  height:25px;
  font-family:'Overpass Bold', 'Overpass';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
}
#u22_img.mouseOver {
}
#u22.mouseOver {
}
#u23 {
  position:absolute;
  left:15px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:45px;
  width:1200px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:1183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1200px;
  height:1px;
}
#u26 {
  position:absolute;
  left:540px;
  top:0px;
  width:39px;
  height:55px;
  font-family:'Overpass Regular', 'Overpass';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#595959;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:55px;
}
#u26_img.selected {
}
#u26.selected {
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:2px;
  top:18px;
  width:35px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:638px;
  top:0px;
  width:45px;
  height:55px;
  font-family:'Overpass Regular', 'Overpass';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#595959;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:55px;
}
#u28_img.selected {
}
#u28.selected {
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:2px;
  top:18px;
  width:41px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:882px;
  top:0px;
  width:59px;
  height:55px;
  font-family:'Overpass Regular', 'Overpass';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#595959;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:55px;
}
#u30_img.selected {
}
#u30.selected {
}
#u30_img.mouseOver {
}
#u30.mouseOver {
}
#u31 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:742px;
  top:0px;
  width:81px;
  height:55px;
  font-family:'Overpass Regular', 'Overpass';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#595959;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:55px;
}
#u32_img.selected {
}
#u32.selected {
}
#u32_img.mouseOver {
}
#u32.mouseOver {
}
#u33 {
  position:absolute;
  left:2px;
  top:18px;
  width:77px;
  white-space:nowrap;
}
#u34 {
  position:fixed;
  left:50%;
  margin-left:-480px;
  top:50px;
  width:960px;
  height:1px;
  overflow:hidden;
}
#u34_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 0.2980392);
  background-image:none;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:540px;
  top:-50px;
  width:200px;
  height:100px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u36 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:1px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.04705882);
  background-image:none;
}
#u34_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37 {
  position:absolute;
  left:510px;
  top:-20px;
  width:200px;
  height:100px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u38 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1080px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:720px;
}
#u0_state0.a {
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
}
#u1.a {
}
#u3.a {
}
#u5.a {
}
#u7.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:51px;
}
#u8.a {
  position:fixed;
  left:50%;
  margin-left:-480px;
  top:0px;
  width:960px;
  height:50px;
  overflow:hidden;
}
#u9.a {
}
#u11.a {
}
#u13.a {
  position:absolute;
  left:540px;
  top:0px;
  width:401px;
  height:55px;
}
#u14.a {
}
#u16.a {
}
#u18.a {
}
#u20.a {
}
#u22.a {
}
#u24.a {
}
#u24_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end.a {
  position:absolute;
  left:1183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:1200px;
  height:1px;
}
#u25.a {
  position:absolute;
  left:540px;
  top:0px;
  width:401px;
  height:55px;
}
#u26.a {
}
#u28.a {
}
#u30.a {
}
#u32.a {
}
#u8_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u8_state1.a {
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u34.a {
  position:fixed;
  left:50%;
  margin-left:-480px;
  top:50px;
  width:960px;
  height:1px;
  overflow:hidden;
}
#u35.a {
}
#u37.a {
}
#u34_state0.a {
  background-color:rgba(255, 255, 255, 0.2980392);
  background-image:none;
}
#u34_state1.a {
  background-color:rgba(0, 0, 0, 0.04705882);
  background-image:none;
}
